# WARNING: When you rename a workflow filename, remember to update the Trusted Publishing settings as well.
# https://www.npmjs.com/package/vite-plugin-license/access
# ref. https://docs.npmjs.com/trusted-publishers

name: Release
on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@a02a34c4d625f9be7cb89156071d8567266a2445 # v4
        id: release

  # https://github.com/googleapis/release-please-action/#automating-publication-to-npm
  publish:
    name: Publish
    permissions:
      contents: read
      id-token: write # Required for OIDC authn and npm provenance
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
      # Ensure npm 11.5.1 or later is installed
      # ref. https://docs.npmjs.com/trusted-publishers#github-actions-configuration
      - run: npm install -g npm@latest
      - run: pnpm install
      - run: pnpm build
      - run: pnpm publish --access public
        env:
          # https://docs.npmjs.com/generating-provenance-statements#using-third-party-package-publishing-tools
          NPM_CONFIG_PROVENANCE: true

  actions-timeline:
    needs: [release, publish]
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    steps:
      - uses: Kesin11/actions-timeline@a7eaabf426cdae26c3582c3fa674b897170dec8f # v2
